.stepper-container-horizontal {
  border-radius: 5px;
  margin: 40px auto;
  width: 100%;
}

.buttons-container {
  text-align: right;
  padding-right: 10%;
  position: absolute;
  right: 0;
  bottom: 20px;
  button {
    margin: 0 2rem;
    min-width: 150px;
    padding: 5px;
    background-color: #006cf8;
    color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border: 0.5px solid rgba(0, 108, 248, 1);
    border-radius: 10px;
  }
  .reset {
    color: #000000;
    background: #ffffff;
  }
}
.card-container {
  margin: 10px auto;
  width: 100%;
  height: 620px;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  div[role="tablist"] {
    border-bottom: 0;
  }
}

.configure-card {
  background-color: #f1f2f5;
}
.mobile-web {
  margin-left: 60px;
  button {
    width: 100px;
  }
}

.card-body.configure {
  background-color: #fafafa;
  border-radius: 15px;
  margin: 20px;
  height: 490px;
  box-shadow: 0px 6px 6px rgba(168, 168, 168, 0.14);
  overflow: auto;
  padding: 0;
}
.config-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 6px rgba(168, 168, 168, 0.14);
  border: 1px solid rgba(186, 186, 186, 1);
  border-radius: 20px;
  position: relative;
  padding: 25px 55px 25px 20px;
  min-width: 200px;
  width: 80%;
  
  h3 {
    font-size: 20px;
    color: #10384f;
    margin: 0;
    line-height: normal;
  }
  p {
    color: #5a5a5a;
    font-size: 18px;
    margin: 0;
    line-height: normal;
    font-weight: 400;
  }
  img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 23px;
  }
}
.config-table {
  width: 100%;
  th {
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fafafa;
    vertical-align: bottom;
  }
  td {
    padding: 10px 20px;
    text-align: center;
    .text {
      color: #212121;
      font-size: 16px;
      text-align: left;
    }
  }
}
.title {
  padding: 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.panel {
  border-radius: 20px;
  background-color: #ffffff;
  padding: 30px;
  height: 800px;
}

.right-column {
  display: flex;
  align-items: center;
  .search-configure {
    border-bottom: 1px solid;
    padding: 5px;
    i {
      padding-right: 20px;
    }

    .search-input-field {
      border: 0px;
      outline: 0;
      background-color: #fafafa;
    }
  }
  button {
    color: #080808;
    background-color: #ffffff;
    border-color: #dce4ea;
    padding: 5px;
    margin-left: 10px;
  }
}

.my-tablist {
  button[aria-selected="true"] {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  ::after {
    border-bottom: 3px solid #006cf8 !important;
  }
}

// dev configuration
.dev-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  .title {
    color: #10384f;
    font-size: 20px;
    font-weight: 600;
  }
  button {
  
    background-color: rgba(0, 108, 248, 1);
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    color: #FFFFFF;
    border: 0.5px solid #006cf8;
  }
  
}
.card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pencilEditImg{
  width: 20px;
  height: 20px;
}


.checkbox-warning-filled [type="checkbox"][class*='filled-in']:checked+label:after {
  border-color: #28a745 !important;
  background-color: #28a745;
}
.card.dev{
  margin: 20px 30px;

}
.card-header{
  background-color: inherit;
  border-radius: 10px !important;
  border: 1px solid #70707052;  
  padding: 0 1rem;
 .title{
   color:#000000;
   font-size: 20px;
   font-weight: 600;
   font-family: "Open Sans";
 }
 .base-url{
  color:#0A0A0A;
   span{
  
     font-family: italic;
     font-size: 16px;
   }
 }
}

.total-parms{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  .params{
    background-color: #6E6D6D;
    padding: 5px 15px;
    border-radius: 20px;
    text-align: center;
    label{
      color:#FFFFFF;
      font-size: 16px;
    }
  }
}

.checkbox-tick-icon{
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 1440px) {

  .card-body.configure {
    border-radius: 15px;
    margin: 20px;
    height: 490px;
  }
  .config-table td .text {
    font-size: 14px;
  }

  .config-header {
    min-height: 80px;
    border-radius: 15px;
    padding: 10px;
    min-width: 160px;
    width: 60%;
    h3 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
    img {
      width: 16px;
      height: 16px;
    }
  }
  .panel {
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    height: 600px;
  }
  .dev-header {
    padding: 10px;
    .title {
      color: #10384f;
      font-size: 18px;
      font-weight: 400;
    }
  }


  .card.dev{
    margin: 20px 30px;
  
  }
  .card-header{
    padding: 0 1rem;
   .title{
     font-size: 18px;
     font-weight: 600;
     font-family: "Open Sans";
   }
   .base-url{
     span{
       font-size: 14px;
     }
   }
  }

  .pencilEditImg{
    width: 15px;
    height: 15px;
  }
  .total-parms .params label {
    font-size: 14px;
  }
}
