@import "./variables.scss";

.personalHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* ----React phone input starts -----*/
.flagInput .App {
  font-family: "appRegular" !important;
  text-align: center;
}
.flagInput .form-control {
  height: 40px !important;
  width: 215px !important;
}
//   .flagInput .react-tel-input {
//     margin-top: 10px !important;
//     margin-left: 10px !important;
//   }
.react-tel-input .country-list {
  width: 215px !important;
  max-height: 151px !important;
}
.react-tel-input .selected-flag {
  width: 43px !important;
  .arrow {
    left: 27px !important;
  }
}
.flagInput .country {
  margin-bottom: 4px;
}
/*-----------React flag ends------------*/

.fieldsAlign {
  margin-top: 32px;
}

@media only screen and (max-width: 1366px) {
  .card-main {
    height: 82vh;
  }
}

@media only screen and(min-width:1400px) and (max-width: 1920px) {
  .card-main {
    height: 84vh;
  }
}
@media only screen and(min-width:1400px) and (max-width: 1920px) {
  .card-main {
    height: 84vh;
  }
  .personal-information-table {
    max-height: 410px !important;
  }
}
@media only screen and (min-width: 1025px) {
  .table-borderless > .table td,
 
  .table.table-borderless{
    th {
      padding: 18px 0px;
    }
    td {
      padding: 3px;
    }
    tbody tr > td {
      width: 7%;
    }
  }
  
}

.userMappings {
  max-height: 337px;
  overflow-y: auto;
  overflow-x: none;
}
.addIcon {
  display: inline-flex;
}

