.grid-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    .filter-left-side {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .filter-right-side {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .filter-partnertype {
      display: flex;
      align-items: center;
      .partnertype-list {
        margin-left: 12px;
        button {
          font-size: 12px;
        }
      }
    }
  
    .filterRow {
      margin-right: 40px;
    }
    .form-group{
      margin-bottom: 0.5rem;
    }

    .filterRow .dropdown-menu {
      box-shadow: 3px 3px 3px #504f4f29;
    }
  }
  .dropdown-year {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
   
    .yeartext {
      padding-top: .5rem!important;
      padding-right: .5rem;
      color: rgb(54, 54, 54);
      font-size: 12px;
      font-weight: 700!important;
    }
    .select {
      width: 100px;
      height: 46px;
      margin-top: -37px;
      font-size: 14px;
    }
  }
    .customDropdown {
      display: flex;
      align-items: flex-end;
      margin-right: 25px;
      margin-top: -14px;
      
    }  
    .yearlabel {
      padding-right: .5rem;
      color: rgb(54, 54, 54);
      font-size: 12px;
      font-weight: 700!important;
    }


  
@media only screen and (max-width: 1400px) {
  .select{
     font-size: 12px;
  }
}
