@import "./variables.scss";
.label-container{
    .title{
        color: #000000;
        font-family: "appRegular" !important;
        font-weight: 600;
        letter-spacing: 0.8px;
    }
    .search-center{
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        
        .search-title{
            color: #000000;
            font-family: "appRegular" !important;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 1.2px;
        }
        
    }
    .bottom{
        margin-top: auto;
        .footer-img{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            img{
                width: 23%;
            }
        }
    }
    

}




@media only screen and (max-width: 1400px){
    .label-container{
        .card-main {
            height: 75vh;
        }
    }
    
}
