@import './variables.scss';

.sideBg {
    background-image: url('../icons/large_logo_holder.svg') !important;
    background-repeat: no-repeat;
}
.headerBG {
    // background-image: url('../icons/green_header.svg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // height: 100px;
    .headerbg1{
        background-image: url('../icons/green_header.svg');
         background-repeat: no-repeat;
         background-size: contain;
    }
    .img1 img {
        max-width: 80%;
    }
    @media(max-width: 768px){
        .headerbg1{
        min-height: 100px;
        height: 100px;
        }
        .content1Img {
            // display: none;
        }
    }
    @media(min-width: 769px){
        .headerbg1{
        min-height: 130px !important;
        height: 130px;
        }
    }

    .title {
        font-size: 16px;
        // line-height: 30px;
        // font-weight: 700;
        color: $white;
        letter-spacing: 0px;
        opacity: 1;
        display: inline-block;
        cursor: pointer;
    }
    .headerRight {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
    }
    .activeLine{
        border-top: 3px solid white;
    }
    
}
@media(min-width: 1280px){
    .contentsec {
        min-height: calc(100vh - 350px);
    }
    .content1Img {
        // max-width: 60% !important;
    }
    
}
@media(min-width: 1080px){
    .content1Img {
        // max-width: 67% !important;
        height: calc(100vh - 300px);
    }
    
}
@media(min-width: 500px){
    .logoAuth {
        position: absolute;
        left: 85px;
        top: 50px;
        width: 80px;
    }
    
}
@media(max-width: 500px){
    .logoAuth {
        position: absolute;
        left: 30px;
        top: 30px;
        width: 70px;
    }
    
}
.custom-tag {
    height: calc(100vh - 300px);
    // height: 300px;
}
.carousel-indicators {
    bottom: -60px !important;
}
.carousel-indicators li {
    width: 13px !important;
    height: 10px !important;
    border-radius: 100% !important;
    opacity: 0.3 !important;
    background: #B0C8F6 0% 0% no-repeat padding-box;
}
.carousel-indicators .active {
    opacity: 1 !important;
    background-color: $secondary;
}
.content1Img {
    max-width: 100%;
}
.formRow{
    // position: relative;
    .logoutContent {
        h4 {
            font-family: 'appBold';
            font-style: italic;
            text-align: center;
            letter-spacing: 0px;
            color: $appSecondary;
            opacity: 1;
        }
    }
    
    h4 {
        color: #000000;
        // font-size: 32px;
    }
    p {
        text-align: left;
        font-family: 'appRegular';
        letter-spacing: 0px;
        color: #434343;
        opacity: 1;
    }
}
.form {
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
}
.getStartedBtnRow .form-control {
    background: $secondary 0% 0% no-repeat padding-box;
    border-radius: 30px !important;
    text-align: center;
    font-family: 'appRegular';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.getStartedBtn {
    color: #fff;
    background-color: $secondary !important;
    border-color: #6c757d;
}

.footerimg  {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    img{
        max-width: 100%;
    }
}
