.inner-expand {
  display: flex;
  align-items: center;
  padding: 10px;
  .inner-row {
    padding: 0 10px;
    border-right: 1px solid #dee2e6;
    text-align: center;
    &.title {
      text-align: left;
      border-right: 0;
      p {
        color: #646464;
        margin: 0;
      }
    }
    &:last-child{
    border-right: 0;
    }
   
    border-top: 0;
    .sub-val {
      margin: 0;
    }
    .qr-val{
      margin: 0;
    }
  }
  
}
.sum-total{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 80px;
  color: #000000;
  font-weight: 600;
  font-size: 13px;
  .total{
    margin: 0;
    width: 100px;
  }
  .intendedquantity{
    width: 132px;
  }
  .orderedquantity{
    width: 120px;
  }
  .productprice{
    width: 50px;
  }
}

.sub-order{
  height: 200px;
  overflow: auto;
  .table td, .table th {
    vertical-align: middle;
 }
 table{
   td{
     font-size: 14px;
   }
 }
 

}
.product-sold-popup{
  margin: 20px 10px;
}
@media only screen and (max-width: 1366px) {
  .sum-total{
    font-size: 12px;
    .total{
      margin: 0;
      width: 100px;
    }
    .intendedqty{
      width: 118px;
    }
    .orderedqty{
      width: 113px;
    }
    .price{
      width: 49px;
    }
  }

  .sub-order{
    table{
      td{
        font-size: 12px;
      }
    }
  }
}

