.inner-table {
  width: 100%;
  td {
    padding-top: 0;
    padding-bottom: 20px;
    &.title {
      text-align: left;
      border-right: 0;
      p {
        color: #646464;
        margin: 0;
      }
    }
    &:last-child{
    border-right: 0;
    }
    border-right: 1px solid #dee2e6;
    text-align: center;
    border-top: 0;
    .sub-val {
      margin: 0;
    }
    .qr-val{
      margin: 0;
    }
  }
  
}
.sum-total{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 80px;
  color: #000000;
  font-weight: 600;
}