@import './variables.scss';

.paginationNumber {
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginationNumber a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .paginationNumber a.active {
    color: $white;
    background-color: #006CF8;
    color: $white;
    width: 2%;
    height: 26px;
    text-align: center;
    padding-left: 8px;
    padding-top: 2px;
    margin-top: 5px;
    border-radius: 8px;
  }