.action  {
    font-size : 14;
    margin-top : '95px';
    margin-left: '16px'
};
.iconStyle {
    margin-left: '173px';
    margin-top : '20px';
};
.cardRoot {
    width: '250px';
    height: '250px';
    border-radius: '4px';
}
.cardOutline1 {
    border :  '1px solid #FFA343';
    background-color: '#FFF4E7'
}
.cardOutline2 {
    border :  '1px solid #206BDD';
    background-color: '#DFE8FA'
}
.actionCount{
    font-size: '24px'
}
.actionName {
    font-size: '18px'
}