@import "./variables.scss";

.effectiveDate {
  display: flex;
  align-items: center;
}
.fieldAlign {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.submit {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-right: 80px;
}
.buttonStyle {
  padding-left: 50px;
  padding-right: 50px;
}
.buttonColor {
  background-color: $submit;
  margin-left: 30px;
}
.createBtn {
  padding-left: 25px;
  padding-right: 25px;
}
.changeLogs {
  width: 135px;
  margin-right: 8px;
}

.closeButton {
  position: "absolute";
  right: 8px;
  top: 8px;
  color: "grey";
}
.country {
  margin-bottom: 35px;
}
.leftAlign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.table-responsive {
  table {
    display: flex;
    flex-flow: column;
    width: 100%;
    border-collapse: separate;
    // border-spacing: 0 10px;
  }

  thead {
    flex: 0 0 auto;
  }
  thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-radius: 8px;
    margin-top: 10px;
    background-color: $appSecondary;
    color: $white;
    height: 55px;
  }

  .table th {
    border: none !important;
    vertical-align: middle;
    padding: 0.025rem;
    text-align: center;
  }

  tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
  }

  tbody tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #ffffff;
    // line-height: 15px;
    height: 5rem !important;
    line-height: 16px;
  }

  .table td {
    padding: 0px !important;
    border: none !important;
    // height: 50px !important;
    vertical-align: middle;
    text-align: center;
    .status {
      display: flex;
      align-items: center;
      border-radius: 30px;
      min-width: 100px;
      padding: 10px;
      cursor: pointer;
      i {
        margin-right: 5px;
      }
    }

    .status.active {
      color: #1ccead;
      background-color: #E3F8F4
    }
    .status.inactive {
      color: #ff6397;
      background-color: #FFD9E5;
    }
    .status.notActivated {
      color: #ff9d00;
      background-color: #ffe6be;
      min-width: 125px;
      padding: 10px 0px 10px 5px;
    }
    .status.declined {
      color: #ec0c0c;
      background-color: #FFB1B1;
    }
    .max-image {
      margin-left: 60px;
      cursor: pointer;
    }
    .edit {
      margin-right: 8px;
      cursor: pointer;
    }
  }

  tbody {
    height: 400px;
    overflow-y: scroll;
  }
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  //   background: #f1f1f1;
  //   border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $appSecondary;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $appSecondary;
}

.filterRow {
  margin-right: 3%;
  .dropdown .btn-secondary {
    color: #fff;
    background-color: #ffffff;
    border-color: #dce4ea;
    padding: 5px !important;
  }
  .dropdown .btn-secondary.focus,
  .btn-secondary:focus {
    color: #fff;
    background-color: #f3f7fa !important;
    border-color: #f3f7fa !important;
    box-shadow: none !important;
  }
  .dropdown-menu {
    //width: 365px;
    top: -30px !important;
    left: 5px !important;
  }
  .form-group .filterDropdown {
    margin-bottom: 0;
  }
}

// For Filter Start

.filterSide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.filterRow {
  margin-right: 3%;
  .dropdown .btn-secondary {
    color: #fff;
    background-color: #ffffff;
    border-color: #dce4ea;
    padding: 5px !important;
  }
  .dropdown .btn-secondary.focus,
  .btn-secondary:focus {
    color: #fff;
    background-color: #f3f7fa !important;
    border-color: #f3f7fa !important;
    box-shadow: none !important;
  }
  .dropdown-menu {
    //width: 365px;
    top: -30px !important;
    left: 5px !important;
  }
  .form-group .filterDropdown {
    margin-bottom: 0;
  }
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 35px;
  font-size: 16px;
  line-height: 35px;
  border-radius: 25px;
  background-color: blue;
  min-width: 100px;
}

.filter-text {
  font-size: 11px;
}

.filter-item-mar {
  margin-top: 5px;
}

.filterFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.activeColor {
  background-color: $appSecondary;
  color: $white;
}
.activeColor:hover {
  background-color: $secondary;
  color: $white;
}
.boxColor {
  border-color: lightgrey;
}
.reset-btn {
  min-width: 100px;
}
.applybtn {
  background-color: #7eb343;
  min-width: 100px;
}

// Filter end

.downloadBtn {
  // width: calc(100vh - 280px) !important;
  width: 165px;
  background-color: $primary;
}

.btn-decline {
  background-color: #e24c4b;
  color: #ffffff;
}

.editFilterText {
  margin-left: 13px;
}
.user-tab {
  background-color: #f8f8fa;
}
.searchInputRow.advisor-sales {
  margin-right: 40px;

  .input-field {
    padding: 10px;
    padding-left: 35px;
    outline: none;
  }
  i {
    position: absolute;
  }
  .icon {
    padding: 8px;
  }

  input {
    width: 250px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #7c7c7c4a;
    border-radius: 5px;
  }
  input:focus {
    box-shadow: none;
  }
}



.user-filter-date-picker {
  width: 150px;
}
.partnerType {
  margin-left: 12px;
  margin-right: -40px;
}
.partner {
  display: flex;
  align-items: flex-end;
}

.add-plus-icon {
  position: absolute;
  right: 0.15rem;
  bottom: 3rem;
  cursor: pointer;
  img {
    width: 50px;
    height: 50px;
  }
}
.dropdown-menu.dropdown-menu-right.show {
  transform: translate3d(-400px, 8px, 0px) !important;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media only screen and (max-width: 1400px) {
  .userlist-table {
    table {
      thead {
        tr {
          th {
            padding: 15px 5px;
            font-size: 13px;
            font-weight: 600;
          }
        }
      }
      tbody {
        tr {
          height: 5rem !important;
          line-height: 20px;
          td {
            font-size: 14px;
            .status {
              border-radius: 20px;
              padding: 5px;
              i {
                margin-right: 5px;
              }
            }
            .max-image {
              margin-left: 40px;
            }
          }
        }
      }
    }
  }
}


