@import './variables.scss';

.effectiveDate {
    display: flex;
    align-items: center;
}
.age {
    display: flex;
    align-items: center;
}
.submit {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-right: 80px;
}
.buttonStyle {
    padding-left: 50px;
    padding-right: 50px;
}
.buttonColor {
    background-color: $submit;
    margin-left: 30px;
}
.createBtn {
    padding-left: 25px;
    padding-right: 25px;
}
.changeLogs {
    width: 135px;
    margin-right: 8px;
}

.closeButton {
    position: 'absolute';
    right: 8px;
    top: 8px;
    color: 'grey'
}
.country {
    margin-bottom: 16px;
}
.leftAlign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
tbody {
    tr {
      td {
        font-size: 14px;
        font-family: "Open Sans";
        .status {
          display: flex;
          align-items: center;
          border-radius: 30px;
          padding: 10px;
          i {
            margin-right: 5px;
          }
        }
        .status.active {
          color: #1ccead;
          background-color: #e3f8f4;
        }
        .status.inactive {
          color: #ff6397;
          background-color: #ffecf2;
        }
        .max-image {
          margin-left: 60px;
          cursor: pointer;
        }
      }
    }
  }
