.buttons-container {
  text-align: center;
  padding-right: 10%;
  position: absolute;
  right: 0;
  bottom: 20px;
  button {
    margin: 0 2rem;
    min-width: 150px;
    padding: 5px;
    background-color: #006cf8;
    color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border: 0.5px solid rgba(0, 108, 248, 1);
  }
  .reset {
    color: #000000;
    background: #ffffff;
  }
}

.selectoutline {
  border-color: gray;
  outline: none;
}

.tableStyle {
  border: none !important;
  text-align: center;
  vertical-align: middle !important;
  width: 185px;
  height: 35px;
}

.tableHeaderStyle {
  border: none !important;
  text-align: Left;
  vertical-align: middle !important;
  width: 185px;
}

.tablebtnStyle {
  border: none !important;
  width: 35px;
  height: 35px;
}

.dpstyle {
  width: 185px;
  height: 35px;
}

.btnStyleAdd {
  background: #89d329 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  align-content: center;
}

.btnStyleRemove {
  background: #c1c1c1 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  width: 45px;
  height: 45px;
  border-radius: 25px;
}

.tableScrollStyle {
  max-height: 280px;
  overflow-y: auto;
}

.btnStyle {
  width: 185;
  height: 35;
  background: "#FFFFFF 0% 0% no-repeat";
  box-shadow: "0px 1px 3px #0000004D";
  border: "0.5px solid #006CF8";
  opacity: 1;
  color: "black";
}
.btnNextSubmit {
  background: "#89D329 0% 0% no-repeat padding-box";
  box-shadow: "0px 1px 3px #0000004D";
  opacity: 1;
  color: "white";
  width: 185;
  height: 35;
}

/* width */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input:read-only {
  background-color: white;
}

//Table design
.devconfig {
  table {
    text-align: left;
    border-collapse: collapse;
    font-size: 12px;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 0.25rem;
    vertical-align: baseline !important;
  }

  th {
    position: sticky;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: white;
  }

  // th {
  //   background: white;
  //   position: sticky;
  //   top: 0; /* Don't forget this, required for the stickiness */
  // }
}
//product-categeory
.product-categeory {
  margin-left: 60px;
  button {
    width: 100px;
  }
}

//button style
.cus-btn-dev {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  background-color: #7eb343 !important;
  width: 180px;
  height: 35px;
  border-radius: 20px;
  margin-left: 30px;
  border: 1px solid #7eb343 !important;
  box-shadow: 0px 1px 3px #0000004d;
  background: url("../../assets/icons/right_btn.svg") no-repeat right;
  position: relative;
  span {
    position: absolute;
    right: 30px;
    line-height: 1;
  }
  .arrow-i {
    // position: relative;
    // left: 35px;
  }
  .layout {
    width: 66%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.cus-btn-dev.reset {
  background-color: #ffffff !important;
  border: 1px solid #dee2e6;
  color: #10384f;
  border: 1px solid #7eb343 !important;
  box-shadow: 0px 1px 3px #0000004d;
}

@media only screen and (max-width: 1368px) {
  .label {
    font-size: 12px;
  }

  .card-container {
    height: 550px;
    background: white !important;
  }
}

@media only screen and (min-width: 1368px) and (max-width: 1920px) {
  .label {
    font-size: 14px !important;
  }

  .card-container {
    height: 660px;
    background: white !important;
  }
}
